<!--<div class="content" role="main" style="width: calc((100%/2) - (100%/10)); float: left">-->
<div class="content flex-box" role="main">

  <div>
    <h4>Spendings list:</h4>
    <table mat-table [dataSource]="this.spending_list" class="mat-elevation-z1">
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let spending">{{spending.amount | euro}}</td>
      </ng-container>

      <ng-container matColumnDef="paid_by">
        <th mat-header-cell *matHeaderCellDef>Paid By</th>
        <td mat-cell *matCellDef="let spending">{{spending.payed_by}}</td>
      </ng-container>

      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef>Reason</th>
        <td mat-cell *matCellDef="let spending">{{spending.reason}}</td>
      </ng-container>

      <ng-container matColumnDef="for">
        <th mat-header-cell *matHeaderCellDef>For</th>
        <td mat-cell *matCellDef="let spending"><span >{{ sharedWithPrintList(spending.shared_with) }} </span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="spendingsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: spendingsColumns;" (click)="openSpendingModifDialog(row.idx)"></tr>

    </table>
  </div>

  <h4 style="margin-top: 60px">Add a spending</h4>

  <form [formGroup]="createSpendingForm" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput id="amount" type="number" [formControl]="amountControl" required="true">
        <mat-error *ngIf="amountControl.invalid">{{checkForAmountError()}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Who paid for this?</mat-label>
        <mat-select [formControl]="payerControl" [(value)]="payer">
          <mat-option *ngFor="let formOption of this.participantSelectOptions" [value]="formOption.value">{{formOption.viewValue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="payerControl.invalid">{{checkForPayerError()}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Reason</mat-label>
        <input matInput id="reason" type="text" formControlName="reason">
      </mat-form-field>
    </div>

    <section [formGroup]="participantListForm">
      <mat-checkbox formControlName="All"> All Participants </mat-checkbox>
      <span *ngIf="!this.participantListForm.get('All')?.value">
        <p *ngFor="let p of this.participant_list"><mat-checkbox formControlName="{{p.name}}"> {{p.name}} </mat-checkbox></p>
      </span>
    </section>

    <button mat-raised-button class="mat-primary" type="submit">Create a new spending</button>

  </form>
</div>
