<div style="margin: 20px;" *ngIf="this.trip.participant_list !== undefined && this.trip.participant_list.length > 0">
  <button mat-raised-button class="mat-primary" (click)="refresh()">Synchronize <mat-icon>sync</mat-icon>
    </button>
</div>

<!--<p >trip.isInit: {{trip.isInit}}</p>-->
<!--<p *ngIf="trip.isInit">Trip time: {{ this.trip.default_number_of_days }} days</p>-->

<app-create-trip *ngIf="!trip.isInit"></app-create-trip>
<div class="flex-container">
  <app-add-person *ngIf="trip.isInit" style="width: 100%"></app-add-person>
  <app-add-spending *ngIf="trip.isInit" style="width: 100%"></app-add-spending>
</div>

<div style="width: 50%; margin-left: 50px;">
  <div class="flex-container" *ngFor="let p of trip.participant_list" style="align-content: center">
    <div style="width: 40%; height: 10px;" align="end">
      <div class=" filler bar" style="width: calc(100% * (1 - {{ getOwedBarSize(p.name) }}));"></div>
      <div class="owe bar" style="width: calc(100% * {{ getOwedBarSize(p.name) }});"></div>
    </div>

    <div style="width: 20%;" align="center">{{ p.name }}</div>

    <div style="width: 40%; height: 10px;">
      <div class="refund bar" style="width: calc(100% * {{ getRefundBarSize(p.name) }});"></div>
    </div>
  </div>
</div>

<div>
  <app-add-refund *ngIf="trip.isInit"></app-add-refund>
</div>

<div class="footer">

</div>
