<!-- Toolbar -->
<mat-toolbar>
<!--  <img-->
<!--    width="40"-->
<!--    alt="Angular Logo"-->
<!--    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="-->
<!--  />-->
  <mat-icon style="margin-right: 10px;">account_balance_wallet</mat-icon>
  <span>Sharing Trips</span>
  <div class="spacer"></div>
  <button class="mat-primary" mat-raised-button (click)="openShareDialog()" style="margin-right: 10px">Share</button>
  <button class="mat-primary" mat-raised-button (click)="print_data()" style="margin-right: 10px" *ngIf="!app.mobile">Print Data</button>
  <button class="mat-primary" mat-raised-button (click)="reset()" style="margin-right: 10px">Reset Data</button>
</mat-toolbar>


<div style="margin: 20px;" *ngIf="this.trip.participant_list !== undefined && this.trip.participant_list.length > 0">
  <button mat-raised-button class="mat-primary" (click)="refresh()">Synchronize <mat-icon>sync</mat-icon>
    </button>
</div>

<!--<p *ngIf="isInit">Init</p>-->
<!--<p *ngIf="isInit">Trip time: {{ this.trip.default_number_of_days }} days</p>-->

<app-create-trip *ngIf="!isInit"></app-create-trip>
<div class="flex-container">
  <app-add-person *ngIf="isInit" style="width: 100%"></app-add-person>
  <app-add-spending *ngIf="isInit" style="width: 100%"></app-add-spending>
</div>

<div style="width: 50%; margin-left: 50px;">
  <div class="flex-container" *ngFor="let p of trip.participant_list" style="align-content: center">
    <div style="width: 40%; height: 10px;" align="end">
      <div class=" filler bar" style="width: calc(100% * (1 - {{ getOwedBarSize(p.name) }}));"></div>
      <div class="owe bar" style="width: calc(100% * {{ getOwedBarSize(p.name) }});"></div>
    </div>

    <div style="width: 20%;" align="center">{{ p.name }}</div>

    <div style="width: 40%; height: 10px;">
      <div class="refund bar" style="width: calc(100% * {{ getRefundBarSize(p.name) }});"></div>
    </div>
  </div>
</div>

<div>
  <app-add-refund *ngIf="isInit"></app-add-refund>
</div>

<div class="footer">

</div>
